.containerSingUp {
    height: calc(100vh - 15rem);
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 5rem;

        div{
            display: flex;
        flex-direction: column;
        gap: 1.25rem;
        }

      
        
    }
}