
.buttonComponet{
    padding: 0.75rem 10rem;
    background-color: var( --blue-800);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
&:active {
    background-color: var( --blue-500);
}
}