.containerTitle {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 3rem;   
    
    h1 {
      text-align: center;
      
    }

    :last-child{
        padding: .5rem 2rem;
        background-color:  var(--white);
        color: var(--blue-800);
        font-size: 16px;
        font-weight: 800; 
    }
}

.containerTable{
    background-color: var(--white);
    color: var(--black);
}

.buttons{
    display: flex;
    gap: 1.5rem;
    
    button{
        background: transparent;
        img{
            width: 1.2rem;
        }
    }
}
  .registersList {
  
    width: 100vw;
    border-collapse: collapse;
    border: none;
    
    thead {
        width: 100vw;
        background-color: var(--blue-300);
        th {           
            white-space: nowrap;
            padding: 1rem 2.5rem;
            text-align: left;
            border-collapse: collapse;
        }
    }
  
    tbody {
      background-color: var(--white);
      td {
        color: var(--black);
        font-size: .75rem;
        padding: .5rem 2.5rem;
        text-align: left;
        border-bottom: 1px solid var(--grey-100);
      }
    }
  }
 